@media (max-width: 767px){
	#top-bar .row>div{
		text-align: center;
		height: 40px;
		line-height: 40px;
	}

	#navigation{
		max-height: 80px;
	}

	#navigation .nav{
		background-color: #333;
	}

	#navigation li{
	    padding: 0 15px;
	}

	#navigation .navbar-brand{
		line-height: 80px;
		height: 80px;
	}

	#navigation li>a{
		width: 100%;
		line-height: 50px;
	}

	#signup-section img{
	    max-width: 30%;
	    margin-right: 5%;
	}

	#footer h3{
	margin-top: 40px;
	}

}

@media (max-width: 992px){
	#signup-section{
		text-align: center;
	}

	#signup-section h2{
        margin-bottom: 45px;
	}

	#work .text-right,#work .text-left{
		text-align: center;
	}


	#work .arrow{
		display: none;
	}

}
@media (max-width: 413px){

	#signup-section img{
		display: none;
	}

}

@media (min-width: 992px){
	#signup-section h2{
		white-space: nowrap;
	}
}


