body{
	font-family: "Open Sans", sans-serif;
}

#top-bar{
	background-color: #222;
}

#top-bar .text-left>a{
	margin-right: 1em;
    transition: color .2s ease-in-out;
}

#top-bar>div{
	max-height: 80px;
}
#top-bar>div>.row{
	margin-left: 0;
	margin-right: 0;
}

#top-bar .row>div{
	padding: 0;
	height: 50px;
	line-height: 50px;
}

#top-bar, #top-bar a{
	color: #999;
}

#top-bar a{
	text-decoration: none;
}

#top-bar a:hover{
	color: #4cd7ff;
}

#top-bar .fa-facebook:hover{
	color: #2a6496;
}

#top-bar .fa-twitter:hover{
	color: #55acee;
}

#top-bar .fa-google-plus:hover{
	color: #dc4e41;
}

#top-bar .fa-linkedin:hover{
	color: #0077b5;
}

#top-bar li{
    padding: 0 7px;
}

#top-bar li>i{
	margin-right: 4px;
}
#top-bar li>span{
	margin: 3px;
}

#navigation{
	font-family: Poppins, sans-serif;
}

#navigation a{
	display: inline-block;
	padding: 0;
}

#navigation .navbar-header{
	margin: 0;
}
#navigation .navbar-brand{
	line-height: 142px;
	height: 142px;
}

#navigation .navbar-brand img{
	display: inline-block;
}

#navigation .navbar{
	background-color: #fff;
	border: none;
	margin: 0;
}

#navigation li>a{
	line-height: 142px;
	padding: 0 1em;
    color: #666;
    font-size: 13px;
    font-weight: 600;
    transition: color .4s ease-in-out;
}
#navigation button{
    margin-top: 22px;
}
#navigation li>a:hover{
	color: #4cd7ff;
}

#navigation ul>.active>a{
	background-color: transparent;
	color: #4cd7ff;
}

#slider{
	height: 740px;
	background-image: url(../images/slider/1.jpg);
	background-size: cover;
}

#details{
    padding-top: 124px;
}

#details p{
	font-weight: 400;
    line-height: 24px;
}

#details .col-xs-12>div{
	margin-bottom: 80px;
}

#details h1{
	font-family: Poppins, sans-serif;
	font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 20px;
}
#details span{
	display: block;
    color: #4cd7ff;
}

#details i{
	font-size: 33px;
    color: #4cd7ff;
}

#details h3{
    font-family: Poppins, sans-serif;
	font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 24px 0 20px;
}

#details p{
	font-size: 14px;
    color: #666;
}

#countup{
	padding-top: 154px;
    padding-bottom: 105px;
	background-image: url(../images/banner1.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover; 
}
#countup h2{
	margin: 0;	
}

#countup>div>div>div>div>div{
	width: 163px;
    height: 163px;
	border: solid 1px #4e4c49;
}

#countup i{
	font-size: 24px;
    color: #4cd7ff;
}

#countup h2{
    font-family: Handlee, sans-serif;
    color: #fff;
}

#countup h3{
	font-size: 16px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-top: 2em;
}

#latest{
    padding: 114px 0 90px;
}

#latest button {
	transition: all .4s ease-in-out;
	font-weight: 500;
	line-height: 30px;
    height: 30px;
    color: #999;
    border: none;
	background-color: transparent;
	border-radius: 50px;
    padding: 0 14px;
}

#latest button:focus{
	outline: none;
}

#latest button:hover,#latest .btn-active {
	color: #4cd7ff;
}

#latest .btn-active{
	border: solid 1px #4cd7ff;	
}

#latest a{
	color: #4cd7ff;
	text-decoration: none;
}

#latest a span>span{
	position: absolute;
	display: inline-block;
	transition: all .4s ease-in-out;
	height: 2px;
	width: 10px;
	background-color: #4cd7ff;
}

#latest a span>i{
	display: inline-block;
	height: 0;
	width: 0;
	border: solid 5px transparent;
	border-left-color: #4cd7ff;
}

#latest .row{
	margin-bottom: 50px;
}

#latest a:hover span{
	width: 30px;
}

#latest a:after{
	transition: all .4s ease-in-out;
    content: "";
    position: absolute;
    background: url(../images/arrow-right.png) -26px;
    height: 7px;
    width: 47px;
    background-repeat: no-repeat;
    margin: 7px 7px;
}

#latest a:hover:after{
	background-position: 0;
}

#latest h1{
    margin: 0;
	font-family: Poppins, sans-serif;
	font-size: 36px;
    font-weight: 700;
} 

// #latest img{
// 	display: inline-block;
// 	transition: all .4s ease-in-out;
// }

// #latest a{
// 	margin-top: 40px;
// 	display: block;
// 	color: #222;
// 	text-decoration: none;
// 	transition: all .4s ease-in-out;
// 	font-size: 14px;
// 	font-weight: 600;
// }

// #latest a:hover{
// 	color: #4cd7ff;
// }

// #latest p{
// 	font-size: 12px;
// 	color: #999;
// }

// #latest>div>div{
	
//     display: inline-block;
//     position: relative;
// }

// #latest>div>div>div span{
// 	color: #fff;
// 	height: 58px;
// 	line-height: 58px;
//     width: 58px;
//     display: inline-block;
//     border-radius: 50%;
//   	background-color: #27bce7;
// }

// #latest>div>div>div span:hover{
//     background-color: #4cd7ff;
// }

// #latest>div>div>div{
// 	text-align: center;
//     position: absolute;
//     top: 0;
// }

// #latest img:hover{
// 	opacity: 0.15;
// }


#signup-section{
	padding: 85px 0;
	font-family: Handlee, sans-serif;
	color: #999;
    background-color: #f7f7f7;
}

#signup-section .col-md-5>div{
	white-space: nowrap;

}

#signup-section h2{
	line-height: 50px;
	margin: 0;
	font-size: 36px;
	font-weight: 400;
}

#signup-section img{
	margin-right: 40px;
}

#signup-section h2>a{
	color: #4cd7ff;
    background: url(../images/line.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

#signup-section h2>a:hover,#signup-section h2>a:active{
	text-decoration: none;
}

#signup-section .btn{
	transition: all .4s ease-in-out;
	border-radius: 50px;
	font-weight: 500;
    font-family: Poppins, sans-serif;
	color: #fff;
    border: none;
    padding: 0 48px;
    line-height: 50px;
    background-color: #4cd7ff;
}

#signup-section .btn:hover{    
	background-color: #27bce7;
}


#work{
    padding-top: 135px;
	background-color: #4cd7ff;
	color: #fff;
}

#work .work-title{
	margin-bottom: 45px;
}

#work .work-section{
	margin-bottom: 80px;
}

#work h1{
	margin: 0 0 15px;
	font-family: Poppins, sans-serif;
	font-size: 36px;
    font-weight: 700;
}
#work h2{
	font-family: Handlee, sans-serif;
	font-size: 48px;
}

#work h3{
	margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
}

#work .arrow{
	position: absolute;
}

#work #arrow-1{
    top: 12%;
    left: 3%;
    transform: rotate(20deg);
}

#work #arrow-2{
    top: 12%;
	right: 3%;
    transform: rotate(160deg);
}

#work #arrow-3{
	top: 57%;
    left: 3%;
    transform: rotate(-20deg);
}

#work #arrow-4{
	top: 57%;
	right: 3%;
    transform: rotate(-160deg);
}

#client{
	padding: 115px 0 106px;
	background-image: url(../images/2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover; 
}

#client button{
	color: #fff;
    display: inline-block;
    border: none;
    height: 36px;
    width: 36px;
    line-height: 36px;
    border-radius: 50px;
    background-color: #222;
    transition: all 0.20s ease-in-out;
}

#client button:hover{
	background-color: #4cd7ff;
}

#skill{
	background-color: #f7f7f7;
	padding: 75px 0;
}

#skill>div{
	margin-right: 0;
    padding-right: 0;
}

#skill .col-md-7{
	padding-right: 0;
}

#skill .row{
	margin-right: 0;
}

#skill h2{
	font-size: 16px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
}

#skill>.row{
	margin: 0;
}

#skill .progress{
	height: 3px;
	background-color: #eee;
	box-shadow: none;
	margin-bottom: 0;
}
#skill .progress-bar{
	height: 3px;
	background-color: #4cd7ff;
	box-shadow: none;
}

#skill h1,#section8 h1{
	font-family: Poppins, sans-serif;
	font-size: 36px;
    font-weight: 700;
    color: #333;
}

#skill p, #footer p,#tweets span{
	font-family: "Open Sans", sans-serif;
    color: #999;
}

#footer{
	background-color: #222;
	padding: 80px 0;
}

#footer .logo{
    margin-bottom: 22px;
}

#footer .newsletter{
	margin-top: 44px;
}

#footer h2{
	display: inline-block;
}

#footer h2,h3,a,a:hover{
	color: #fff;
}

#footer a:hover{
	text-decoration: none;
}

#footer i{
	font-size: 16px;
	color: #4cd7ff;
}

#footer a>span{
    display: block;
    font-size: 13px;
    color: #999;
}

#footer h3{
	font-family: Poppins, sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#footer h2{
	font-size: 18px;
    color: #fff;
    font-family: Handlee, sans-serif;
    font-weight: 400;
}

#footer .newsletter img{
	position: absolute;
    margin-top: 7px;
    margin-left: 12px;
}

#footer .newsletter [type=email]{
	border-radius: 5px;
	height: 36px;
    background-color: #f7f7f7;
    padding: 0 110px 0 12px;
    width: 95%;
    border: 2px solid transparent;
}

#footer .newsletter [type=submit]{
    background-color: #4cd7ff;
    color: #fff;
    border: none;
    width: 110px;
    height: 36px;
    border-radius: 0 5px 5px 0;
    position: absolute;
	right: 28px;
    border-left: 2px solid #222;
}

#footer h3{
	margin-top: 0px;
	margin-bottom: 30px;
}

#tweets p,#tweets span{
    margin-top: 7px;
}

#tweets div{
    margin-bottom: 30px;
}

#tweets p a{
    color: #4cd7ff;
}

#tweets p a:hover{
	color: #27bce7;
}

#photo div{
	max-width: 240px;
}

#photo a{
	transition: all .4s ease-in-out;
}

#photo a:hover{
	opacity: .7;
}

#footer #community i{
    min-width: 30px;s
}

#community div{
	margin-bottom: 15px;
}

.test{
    display: inline-block;
}


#bottom-bar{
    background-color: #111;
}

#bottom-bar h3{
    margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #999;
	line-height: 80px;
}

// #top-bar i,#contect>span{
// 	margin: 0 .5em;
// 	line-height: 50px;
// 	height: 50px;
// }

// #social-links i,#contect span,a{
// 	color: #999;
// }
// #contect a:hover,a:active {
// 	
// 	text-decoration: none;
// }

// #details{
// 	padding: 6em 0;
// }

// #details i{
// 	font-size: 33px;
//     color: #4cd7ff;
// }

// #details h3{
//     font-family: Poppins, sans-serif;
// 	font-size: 16px;
//     font-weight: 600;
//     color: #333;
// }

// #details p{
// 	font-size: 14px;
//     color: #666;
// }

// #details>div{
// 	margin: 3em 0;
// }

// #countup{
// 	margin: 0;
//     // width: 100%;
// 	background-image: url(../images/banner1.jpg);
// 	background-attachment: fixed;
// 	background-repeat: no-repeat;
// 	background-size: cover; 
// }

// #countup>div>div>div{
//     margin-bottom: 3em;
// }

// #countup>div>div>div>div{
// 	height: 10em;
// 	width: 10em;
// 	border: solid 1px white;
// }

// #countup i{
// 	font-size: 24px;
//     color: #4cd7ff;
// }

// #countup h2{
//     font-family: Handlee, sans-serif;
//     color: #fff;
// }

// #countup h3{
// 	font-size: 16px;
//     color: #fff;
//     font-family: Poppins, sans-serif;
//     font-weight: 600;
//     margin-top: 2em;
// }



// #signup{
// 	font-family: Poppins, sans-serif;
// 	background-color: #4cd7ff;
//     color: #fff;
//     border-radius: 50px;
//     padding: 0 3em;
//     line-height: 50px;
// }

